<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-10 mt-5 mx-auto">
        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のerrorが発生しました
          <% @user.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>

        <h2>User info</h2>
        <%= form_with model:@user, local:true do |f| %>
          <div class="col pt-4">
            <h6>Name</h6>
            <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control"%>
          </div>
          <div class="col py-4">
            <h6>Image</h6>
            <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '60x60' %>
            <%= f.attachment_field :profile_image %>
          </div>
          <div class="col">
            <h6>Introduction</h6>
            <%= f.text_area :introduction, autofocus: true, id:"inputIntoroduction", class: "form-control"%>
          </div>
          <div class="col pt-4">
            <%= f.submit "Update User", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>


