<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <% if @book.errors.any? %>
          <%= @book.errors.count %>件のerrorが発生しました
          <% @book.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <h2>Editing Book</h2>
        <%= form_with model: @book, local:true do |f| %>
          <h6>Title</h6>
          <%= f.text_field :title %>
          <h6>Option</h6>
          <%= f.text_area :body %>

          <%= f.submit 'Update Book', class: "btn btn-success" %>
        <% end %>
        <%=link_to 'Show',book_path(@book.id)%>|<%=link_to 'Back',books_path %>
        </div>
    </div>
  </div>
</main>
